<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>

  <body>
    {{> header}}
    <p>This page has all information about me, visit my git hub page, from HBS!</p>
    {{> footer}}
  </body>
</html>
